<h2 class="text-center">Add a new user:</h2>
<form class="form-horizontal" [formGroup]="userForm" novalidate>
    <mat-form-field class="full-width">
        <input matInput placeholder="Name" type="text" id="name" name="name" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name" required />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Email" type="text" id="email" name="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.email" required />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Home Phone" type="text" id="homePhone" name="homePhone" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.homePhone" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Cell Phone" type="text" id="cellPhone" name="cellPhone" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.cellPhone" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="text" id="password" name="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.password" required />
    </mat-form-field>

    <ng-container *ngIf="successMessage">
        <p class="successMessage"><strong>{{ successMessage }}</strong></p>
    </ng-container>
    <ng-container *ngIf="errorsMessage">
        <p class="error"><strong>Error: </strong>{{ errorsMessage }}</p>
    </ng-container>

    <input type="submit" value="Save" class="btn btn-primary" (click)="saveUser()" />
    <input type="reset" value="Reset" class="btn" (click)="resetForm()" />
    <input type="button" value="Clear Session" class="btn" (click)="clearSessionList()" />
</form>
