<h2 class="text-center">Add a new user:</h2>
<form class="form-horizontal" [formGroup]="userForm" novalidate>
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-6">
            <input type="text" id="name" name="name" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.name" required />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-6">
            <input type="text" id="email" name="email" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.email" required />
        </div>
    </div>
    <div class="form-group">
        <label for="homePhone" class="col-sm-3 control-label">Home Phone</label>
        <div class="col-sm-6">
            <input type="text" id="homePhone" name="homePhone" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.homePhone" />
        </div>
    </div>
    <div class="form-group">
        <label for="cellPhone" class="col-sm-3 control-label">Cell Phone</label>
        <div class="col-sm-6">
            <input type="text" id="cellPhone" name="cellPhone" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.cellPhone" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-6">
            <input type="text" id="password" name="password" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.password" required />
        </div>
    </div>

    <ng-container *ngIf="successMessage">
        <p class="successMessage"><strong>{{ successMessage }}</strong></p>
    </ng-container>
    <ng-container *ngIf="errorsMessage">
        <p class="error"><strong>Error: </strong>{{ errorsMessage }}</p>
    </ng-container>

    <input type="submit" value="Save" class="btn btn-primary" (click)="saveUser()" />
    <input type="reset" value="Reset" class="btn" (click)="resetForm()" />
    <input type="button" value="Clear Session" class="btn" (click)="clearSessionList()" />
</form>
