<div class="container-fluid">
    <ng-container *ngIf="users">
        <strong>Users</strong>
        <div *ngFor="let user of users; let i = index">
            <ul class="nav navbar-nav">
                <li>Name: {{ user.name }}</li>
                <li>E-mail: {{ user.email }}</li>
                <li>Home Phone: {{ user.homephone }}</li>
                <li>Cell Phone: {{ user.cellphone }}</li>
                <li>Password: {{ user.password }}</li>
            </ul>
        </div>
    </ng-container>
</div>

<app-user-form></app-user-form>
