<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ng-container *ngFor="let user of users; let i = index">
        <ul class="nav navbar-nav">
          <li>Id: {{ user.id }}</li>
          <li>Nome: {{ user.nome }}</li>
          <li>Email: {{ user.email }}</li>
          <li>Telefone Residencial: {{ user.telefoneResidencial }}</li>
          <li>Telefone Celular: {{ user.telefoneCelular }}</li>
          <li>Senha: {{ user.senha }}</li>
        </ul>
        </ng-container>
    </div>
</nav>